# https://docs.ansible.com/ansible/latest/reference_appendices/config.html
[defaults]

library = .ansible/modules
roles_path = .ansible/roles
collections_path = .ansible/collections
# use declared collection versions only
# ansible-galaxy install -r requirements.yml
collections_scan_sys_path = False
filter_plugins = plugins/filter
lookup_plugins = plugins/lookup

inventory = inventory/hosts.ini
vault_password_file = scripts/vaultpass.sh

# interpreter_python = /usr/local/bin/python3
# ansible_shell_executable = /usr/local/bin/bash

deprecation_warnings = False
duplicate_dict_key = ignore
any_errors_fatal = True

gathering = explicit

# https://docs.ansible.com/ansible/latest/plugins/cache.html
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/jsonfile_cache.html
fact_caching = ansible.builtin.jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 86400

# https://docs.ansible.com/ansible/latest/plugins/callback.html
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/default_callback.html
stdout_callback = ansible.builtin.default
callback_result_format = yaml
callback_result_indentation = 2
