# xcpng_root_pass: {vault.yml}
#  xoa_admin_pass: {vault.yml}

pki_host: "{{ groups['pki_any'] | first }}"

ansible_user: root
# no longer setting SSH key file here so that AWX can inject it
# by credentials while play.sh exports ANSIBLE_PRIVATE_KEY_FILE
# ansible_ssh_private_key_file: >-
#   {{ lookup('ansible.builtin.env', 'HOME') }}/.ssh/{{
#      lookup('ansible.builtin.env', 'USER') }}.pem
ansible_ssh_password: "{{ xcpng_root_pass }}"
ansible_ssh_common_args: >-
  -o StrictHostKeyChecking=no
  -o ConnectTimeout=5
  -o LogLevel=error

ansible_python_interpreter: /usr/bin/python3

homelab_domain: fourteeners.local
search_domains:
  - "{{ homelab_domain }}"
